name: CI

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        ruby: ['2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4', '4.0', 'jruby']
      fail-fast: false
      max-parallel: 10
    runs-on: ubuntu-latest

    env:
      CI: true

    name: ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # 'bundle install' and cache
          ruby-version: ${{ matrix.ruby }}
      - run: bundle exec rake